@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Nunito:wght@400;700&display=swap');


//fonts

$alegreya: "Alegreya", serif;
$nunito: "Nunito", "Open Sans", sans-serif;


//color styles

$background: #FFE1BD;
$darkbuttons: #7A4200;
$displaytext: #FFF4E7;
$copytext: #2E1901;
$bluebuttons: #3E5157;
$copybox: #FFEEDB;
$hilighterblue: #516C75;

